<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1048056435013-ud0t71g2dvs54m1tl3lm1gsn9t1gfdt3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048056435013-ud0t71g2dvs54m1tl3lm1gsn9t1gfdt3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0KgcvtGwH14bo6WeU84K3NgMuC42j6aU</string>
	<key>GCM_SENDER_ID</key>
	<string>1048056435013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobincube.ios.scPUQDU</string>
	<key>PROJECT_ID</key>
	<string>know-snow-fed32</string>
	<key>STORAGE_BUCKET</key>
	<string>know-snow-fed32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048056435013:ios:fa9c91a7e9e09840</string>
	<key>DATABASE_URL</key>
	<string>https://know-snow-fed32.firebaseio.com</string>
</dict>
</plist>
